## Pandas 1 Ряды

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Создание ряда, вывод значений и индексов

In [3]:
obj = Series([3,6,9,12])

In [4]:
print(obj)

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

## Создание ряда c индексами

In [7]:
obj2 = Series([870,430,300,210,400], index = ['First','Second','Third','Fourth','Fifth'])
print(obj2)

First     870
Second    430
Third     300
Fourth    210
Fifth     400
dtype: int64

## Вывод значения по индексу

In [8]:
obj2['Second']

430

In [9]:
obj2[obj2>200]

First     870
Second    430
Third     300
Fourth    210
Fifth     400
dtype: int64

In [10]:
obj2[obj2>400]

First     870
Second    430
dtype: int64

In [11]:
'Third' in obj2

True

## Преобразование в словарь и обратно

In [13]:
obj2_dictionary = obj2.to_dict()
print(obj2_dictionary)

{'First': 870, 'Second': 430, 'Third': 300, 'Fourth': 210, 'Fifth': 400}

In [14]:
obj3 = Series(obj2_dictionary)
print(obj3)

First     870
Second    430
Third     300
Fourth    210
Fifth     400
dtype: int64

## Создание словаря с новым индексом

In [15]:
names = ['1st','2nd','3rd','4th','5th']
obj4 = Series(obj2_dictionary, index=names)
print(obj4)

1st   NaN
2nd   NaN
3rd   NaN
4th   NaN
5th   NaN
dtype: float64

In [17]:
names = ['First','Second','Third','4th','5th']
obj4 = Series(obj2_dictionary, index=names)
print(obj4)

First     870.0
Second    430.0
Third     300.0
4th         NaN
5th         NaN
dtype: float64

## Проверка наличия или отсутствия NaN

In [18]:
pd.isnull(obj2)

First     False
Second    False
Third     False
Fourth    False
Fifth     False
dtype: bool

In [19]:
pd.isnull(obj4)

First     False
Second    False
Third     False
4th        True
5th        True
dtype: bool

In [20]:
pd.notnull(obj4)

First      True
Second     True
Third      True
4th       False
5th       False
dtype: bool

## Сложение рядов

In [21]:
obj2+obj4

4th          NaN
5th          NaN
Fifth        NaN
First     1740.0
Fourth       NaN
Second     860.0
Third      600.0
dtype: float64